{%- set rancher_vm_ip = rancher_vm_ip | default( '127.0.0.1' ) -%}
{# Override defaults for the certmanager chart to optimise for one node #}
  {%- set cert_manager_replica_count = cert_manager_replica_count | default(1) -%}
  {%- set cert_manager_webhook_replica_count = cert_manager_webhook_replica_count | default(1) -%}
  {%- set cert_manager_cainjector_replica_count = cert_manager_cainjector_replica_count | default(1) -%}
{# Override defaults for the rancher chart to optimise for one node #}
  {%- set rancher_replicas = rancher_replicas | default(1) -%}
  {%- set rancher_hostname = rancher_hostname | default( 'rancher-' + rancher_vm_ip|string + '.sslip.io' ) -%}
arch: "aarch64"
images:
  # Fallback to the latest release image.
  # Hint: run `limactl prune` to invalidate the cache
  - location: "https://dl.rockylinux.org/pub/rocky/9/images/x86_64/Rocky-9-GenericCloud.latest.x86_64.qcow2"
    arch: "x86_64"
  - location: "https://dl.rockylinux.org/pub/rocky/9/images/aarch64/Rocky-9-GenericCloud.latest.aarch64.qcow2"
    arch: "aarch64"

cpus: {{ [ ansible_processor_cores|int - 1 , 4 ] | min }}
memory: "{{ [ ansible_facts['memtotal_mb'] - 2000 , 20000 ] | min }}MiB"
disk: "100GiB"

## Issue the ansible playbook ran into errors when it hit the apple Mac mounts
## it also shouldn't matter for this. Issue probally stems from the fact 9p is broken in Linux v6.9, v6.10, and v6.11.
## The issue was fixed in Linux v6.12-rc5 (https://github.com/torvalds/linux/commit/be2ca38).
mountType: "reverse-sshfs"
mounts:
 - location: "~"
 - location: "/tmp/lima"

containerd:
  system: false
  user: false

networks:
  - vzNAT: true

portForwards:
  - guestIP: "{{ rancher_vm_ip }}"
    guestPort: 80
    hostPort: 80
  - guestIP: "{{ rancher_vm_ip }}"
    guestPort: 443
    hostPort: 443
  - guestIP: "{{ rancher_vm_ip }}"
    guestPort: 6443
    hostPort: 6443
  - guestIP: "{{ rancher_vm_ip }}"
    guestPort: 8472
    hostPort: 8472
## TODO add rancher port range

provision:
  - mode: system
    script: |
      #!/bin/bash
      # Update and install cloud-init
      dnf update -y
      dnf install -y cloud-init
  - mode: system
    script: |
      #!/bin/bash
      cat <<EOF > /etc/cloud/cloud.cfg.d/99_custom.cfg
      {%- filter indent(width=6) %}
      {%- include 'cloud-init.yml.j2' %}
      {%- endfilter +%}
      EOF